.parent{
    background-color: green;
    width: 200px;
    height: 300px;
    border: 3px solid blue;
    text-align: center;
    transform: scalex(5.4);
   
}

.siva{
    background-color: pink;
    height: 50px;
}

.san{
    background-color: red;
    padding: 10px;
    margin-top: 20px;
}
